.posts-page{
    padding: 20px;
}

.card-css {
    text-align: left;
    margin: 20px;
}

.dots-css {
    float: right;
}


.dropdown-css {
    top: 0;
    right: 0;
    position: absolute !important;
}

.dd-toggle-btn {
    background-color: white !important;
    border: none !important;
    color: lightcoral !important;
}

.dd-toggle-btn::after {
    display: none !important;
}

.delete-btn, .edit-btn {
    border: none;
    background-color: transparent;
    padding: 0px;
}